<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Iniciar sesión</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link href="../static/css/login.css" rel="stylesheet" th:href="@{/css/login.css}">
	<script src="../static/js/bootstrap.min.js" crossorigin="anonymous" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/bootstrap.bundle.min.js" crossorigin="anonymous" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
	<div class="alert alert-danger alert-dismissible fade show" th:if="${param.error}">
		Nombre de usuario o contraseña incorrectos.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-success alert-dismissible fade show" th:if="${param.logout}">
		Sesión cerrada correctamente.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<img src="../static/images/login.jpg" th:src="@{/images/login.jpg}"
						 class="img-fluid" alt="Sample image">
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<form th:action="@{/login}" method="post">
						<div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
							<p class="lead fw-normal mb-0 me-3">Inicia tu sesión con:</p>
						</div>

						<!-- Usuario input -->
						<div class="form-outline mb-4">
							<input type="text" id="frmLoginUsuario" class="form-control form-control-lg" placeholder="Nombre de Usuario ó Documento de Identidad" name="username"/>
							<label class="form-label" for="frmLoginUsuario">Nombre de Usuario ó Documento de Identidad</label>
						</div>

						<!-- Password input -->
						<div class="form-outline mb-3">
							<input type="password" id="frmLoginPassword" class="form-control form-control-lg" placeholder="Contraseña" name="password"/>
							<label class="form-label" for="frmLoginPassword">Contraseña</label>
						</div>

						<div class="d-flex justify-content-between align-items-center">
							<!-- Checkbox -->
							<div class="form-check mb-0">
								<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
								<label class="form-check-label" for="form2Example3">
									Recordarme
								</label>
							</div>
							<a href="#!" class="text-body">¿Has olvidado tu contraseña?</a>
						</div>

						<div class="text-center text-lg-start mt-4 pt-2">
							<button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Iniciar Sesión</button>
							<p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes cuenta? <a th:href="@{/registro}" class="link-danger">Registrate</a></p>
						</div>

					</form>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
			<!-- Copyright -->
			<div class="text-white mb-3 mb-md-0">
				Copyright © 2022. Todos los derechos reservados.
			</div>
			<!-- Copyright -->
		</div>
	</section>
</body>
</html>